<footer
  class="text-center text-lg-start mt-4"
  style="background-color: #f0f8ff"
>
  <div class="container p-3">
    <!-- riga per la gestione delle colonne del footer  6/12(col-md-6) colonne a  colonna-->
    <div class="row">
      <!-- prima parte del footer con nome e motto -->
      <div class="col-md-6 mb-4">
        <h5 class="text-dark">GIUSBANK</h5>
        <p class="text-dark">La tua banca sempre e ovunque.</p>
      </div>
      <!-- seconda parte del footer con i link utili -->
      <div class="col-md-6">
        <h5 class="text-dark">LINK UTILI</h5>
        <!-- lista senza punti o numeri  -->
        <ul class="list-unstyled">
          <li>
            <a href="/chi-siamo" class="text-dark">Chi siamo</a>
          </li>
          <li>
            <a href="/contattaci" class="text-dark">Contattaci</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- marchio registrato con l'anno attuale -->
  <div class="text-center p-3" style="background-color: #eaf0f7">
    © 2025 GiusBank.
  </div>
</footer>
