/* impostzioni comuni a tutte le pagine */
body {
  background: linear-gradient(180deg, #e6f0f7 0%, #ffffff 100%);
  color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  margin: 0;
}
/* necessario per spingere giù il footer */
.riempimento {
  flex: 1;
}
